@import '../../Styles/Main.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300');

$iconHeight: 30px;

.fancyline {
  height: 10px;
  display: block;
  background-color: #34495e;
}
.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2ecc71;
}

.icons
{
  padding-left: 15px;
}

span {
  color: $white;
}
@media only screen and (max-width: 1030px) {
  .open-gdansk {display: none}
}

.open-gdansk
{
  color: $white;
  font-family: 'Lato', sans-serif;
  a
  {
    text-decoration: underline;
    color: $white;
    &:hover
    {
      color: #16a085;
    }
  }
}

.author > a
{
  color: $white;
  text-decoration: none;
}

.copyright-section
{
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-family: 'Open Sans', sans-serif;
}

.github-icon, .home-icon, .info-icon, .copyright-icon
{
  height: $iconHeight;
  path
  {
    fill: $white;
    transition: fill 0.5s;
  }

  &:hover
  {
    cursor: pointer;
    path
    {
      fill: white;
    }
  }
}

.copyright-icon
{
  margin-right: 10px;
}
