.main_div{
background-color: #ecf0f1;
position: absolute;
}
input[type=text]{
    text-align: center;
    position: static;
    left:10vw;
    box-sizing: border-box;
   // padding: 10px 10px;
    height: 7vh;
    width: 35vw;
    border-radius: 15px;
    box-shadow: 1px 3px 4px 0px #ccc;
    border: none;
    outline: none;
//   text-transform: lowercase;
    font-size:3vh;
//    opacity: 0.9;
    color: gray;
    display:block;
}
.tipsUl{

}
::placeholder {
    text-transform: none;
    color: gray;
    opacity: 0.7;
}
