@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$borderColor: #34495E;
$tableTextColor: #25A25A;

.main_body {
  height: calc(100vh - 130px);
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  overflow-y: scroll;
}
.tipsList{
  list-style-type:none;
  width:45%;
  background-color:white;
  padding:5px;
  text-align: center;
  display:block;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 900px) {
  .tipsList {width: 90%;}
}
.tipsList:first-child{
  border-radius: 15px 15px 0 0;
}
.tipsList:last-child{
  border-radius: 0 0 15px 15px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}
.tipsList:hover{
background-color: rgba(#ccc,0.5);
}
  .preloader
  {
    font-size: 22px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
  }