.project-nav {
  background-color: #27ae60;
  color: white;
  height: 60px;
  width: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: flex;
}
.project-name-header {
  flex: 1;
  padding: 10px;
}
.main-nav {
  display: inline-block;
}
.right {
  flex: 1;
  padding-right: 18px;
}
.nav-item {
  margin-right:20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color:inherit !important;
}
img {
  height: 55px;
  width: 120px;
}
