@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300');



.main_body {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

body {
  background-color: #ecf0f1;
}
h2 {
  text-align: center;
}
span {
  display: block;
  word-wrap: break-word;

}
.about_section {
  margin: 40px;
}

.about-header, .authors-header ,.author-nick
{
  font-family: 'Open-Sans', sans-serif;
}

.about-text, .author-roles
{
  font-family: 'Lato', sans-serif;
}

.author-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.author {
  border-radius: 25px;
  background-color: #D4D8D8;
  height: 280px;
  width: 170px;
  margin: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: row;
  flex-direction: column;
  text-align: center;
}
.footer {
  display: none;
}
