$borderColor: #34495E;
$tableTextColor: #2ECC71;

.main_body {
  height: calc(100vh - 130px);
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  overflow-y: scroll;
}

.inputStyle{
      text-align: center;
      position: static;
      left:10vw;
      box-sizing: border-box;
      height: 7vh;
      width: 35vw;
      border-radius: 15px;
      box-shadow: 1px 4px 10px 0px #ccc;
      border: none;
      outline: none;
      font-size:3vh;
      color: gray;
      display:block;
  }
.inputStyleActive{
  text-align: center;
  position: static;
  left:10vw;
  box-sizing: border-box;
  height: 7vh;
  width: 35vw;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  border: none;
  outline: none;
  font-size:3vh;
  color: gray;
  display:block;
}
.tipsList{
  list-style-type:none;
  background-color:white;
  padding:5px;
  display:block;
}
.tipsList:hover{
background-color: rgba(#ccc,0.5);
}
.tipsList:last-child{
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 4px 10px 0px #ccc;
}
  p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  ::placeholder {
      text-transform: none;
      color: gray;
      opacity: 0.7;
  }

  table
  {
    border-collapse: collapse;
    color: $tableTextColor;
    text-align: center;
  }


  tr
  {
    border-bottom: solid 2px $borderColor;
    &:last-of-type
    {
      border-bottom: none;

    }

    td, th
    {
      padding: 10px;
      border-right: solid 2px $borderColor;
      &:last-of-type
      {
        border-right: none;
      }
    }

  }
  